{% if block.settings.table_cell_row == 'header' %}
    <th {{ block.shopify_attributes }}>{{ block.settings.table_cell }}</th>
{% elsif block.settings.table_cell_row == 'body' %}
    <td {{ block.shopify_attributes }}>{{ block.settings.table_cell }}</td>
{% endif %}

{% schema %}
{
    "name": "Table Cell", 
    "settings": [
        {
            "type": "select",
            "label": "Table Cell Row",
            "id": "table_cell_row",
            "options": [
                {
                    "value": "header",
                    "label": "Header"
                },
                {
                    "value": "body",
                    "label": "Body"
                }
            ]
        },
        {
            "type": "text",
            "label": "Table Cell Content",
            "id": "table_cell"
        }
    ]
}
{% endschema %}