
<div {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
{% schema %}
{
    "name": "Block Text",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Test block"
        }
        ],
        "presets": [
            {
                "name": "Block Text"
            }
        ]
}
{% endschema %}