<div class="page-width">
        <thead>
           
        </thead>
        {% content_for "blocks" %}
        <tbody>
        </tbody>
</div>

{% schema %}
{
    "name": "Table Block Section",
    "settings": [
        
        ],
        "blocks": [
            {
                "type": "table-row"
            }
        ],
        "presets": [
            {
                "name": "Table Block Section"
            }
        ]
}
{% endschema %}