<div class="page-width">
    <table>
        <table {{ block.shopify_attributes }}>
    {% content_for "block", type: "table-header", id: "table_header" %}
        <tbody>
            {% content_for "blocks"%}
        </tbody>
    </table>
    </table>
</div>

{% schema %}
{
    "name": "Table Block Section",
    "settings": [],
    "blocks": [
        {
            "type": "table-row"
        }
    ],
    "presets": [
        {
            "name": "Table Block Section"
        }
    ]
}
{% endschema %}