<div class="page-width">
    <table>
        <thead>
            <tr>
                {% content_for "blocks" %}
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>

{% schema %}
{
    "name": "Table Block Section",
    "settings": [],
    "blocks": [
        {
            "type": "table-cell",
            "name": "Table Cell"
        }
    ],
    "presets": [
        {
            "name": "Table Block Section"
        }
    ]
}
{% endschema %}